.app-main {
  margin: 0 auto;
  max-width: min(80%, 500px);
}

.app-header {
  padding: 8vh;
  font-size: calc(10px + 2vmin);
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

h1 {
  font-size: 2.5rem;
}

.stepbar-container {
  max-width: clamp(300px, 50vw, 50%);
  margin: 0 auto;
}

.RSPBprogressBar {
  height: 2px !important;
}

.RSPBprogression {
  background-color: #664de5 !important;
}

.indexedStep {
  color: rgb(112, 112, 112);
  width: 50px;
  height: 50px;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid;
  border-color: #d3d3d3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color: #664de5;
  color: #fff;
}